In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [24]:
Final_invoice = pd.read_csv(r'C:\Users\ckatkaa\Desktop\jupyter notebook\Capstone project  Mahindra Group\Mahindra First Choice Dataset\Final_invoice.csv')

In [25]:
Final_invoice.shape

(492314, 59)

In [26]:
Final_invoice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 492314 entries, 0 to 492313
Data columns (total 59 columns):
Unnamed: 0              492314 non-null int64
Amt Rcvd From Custom    295028 non-null float64
Amt Rcvd From Ins Co    295028 non-null float64
Area / Locality         468424 non-null object
CGST(14%)               295028 non-null float64
CGST(2.5%)              295028 non-null float64
CGST(6%)                295028 non-null float64
CGST(9%)                295028 non-null float64
CITY                    492313 non-null object
Cash /Cashless Type     27420 non-null object
Claim No.               4804 non-null object
Cust Type               492314 non-null object
Customer No.            492314 non-null object
District                492314 non-null object
Expiry Date             22231 non-null object
Gate Pass Date          40915 non-null object
Gate Pass Time          492314 non-null object
IGST(12%)               295028 non-null float64
IGST(18%)               295028 non-null float64
IGST(28%)               295028 non-null float64
IGST(5%)                295028 non-null float64
Insurance Company       23591 non-null object
Invoice Date            492314 non-null object
Invoice No              492314 non-null int64
Invoice Time            492314 non-null object
Job Card No             492314 non-null int64
JobCard Date            492314 non-null object
JobCard Time            492314 non-null object
KMs Reading             492314 non-null int64
Labour Total            492314 non-null float64
Make                    492314 non-null object
Misc Total              492314 non-null float64
Model                   490789 non-null object
ODN No.                 295028 non-null float64
OSL Total               492314 non-null float64
Order Type              492314 non-null object
Outstanding Amt         295028 non-null float64
Parts Total             492314 non-null float64
Pin code                492314 non-null int64
Plant                   492314 non-null object
Plant Name1             492314 non-null object
Policy no.              16882 non-null object
Print Status            492314 non-null object
Recovrbl Exp            492314 non-null float64
Regn No                 492298 non-null object
SGST/UGST(14%)          295028 non-null float64
SGST/UGST(2.5%)         295028 non-null float64
SGST/UGST(6%)           295028 non-null float64
SGST/UGST(9%)           295028 non-null float64
Service Advisor Name    0 non-null float64
TDS amount              295028 non-null float64
Technician Name         255480 non-null object
Total Amt Wtd Tax.      492314 non-null float64
Total CGST              295028 non-null float64
Total GST               295028 non-null float64
Total IGST              295028 non-null float64
Total SGST/UGST         295028 non-null float64
Total Value             295028 non-null float64
User ID                 492314 non-null object
dtypes: float64(29), int64(5), object(25)
memory usage: 221.6+ MB

In [27]:
# finding the null values and its percentage and then concat both

total=Final_invoice.isnull().sum().sort_values(ascending=False)
percentage = (total*100/Final_invoice.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total,percentage],axis=1,keys=['total_missing_values_per_row','percentage'])
print(missing_data)

                      total_missing_values_per_row  percentage
Amt Rcvd From Custom                        197286   40.073205
Amt Rcvd From Ins Co                        197286   40.073205
Area / Locality                              23890    4.852594
CGST(14%)                                   197286   40.073205
CGST(2.5%)                                  197286   40.073205
CGST(6%)                                    197286   40.073205
CGST(9%)                                    197286   40.073205
CITY                                             1    0.000203
Cash /Cashless Type                         464894   94.430384
Claim No.                                   487510   99.024200
Cust Type                                        0    0.000000
Customer No.                                     0    0.000000
District                                         0    0.000000
Expiry Date                                 470083   95.484386
Gate Pass Date                              451399   91.689247
Gate Pass Time                                   0    0.000000
IGST(12%)                                   197286   40.073205
IGST(18%)                                   197286   40.073205
IGST(28%)                                   197286   40.073205
IGST(5%)                                    197286   40.073205
Insurance Company                           468723   95.208140
Invoice Date                                     0    0.000000
Invoice No                                       0    0.000000
Invoice Time                                     0    0.000000
Job Card No                                      0    0.000000
JobCard Date                                     0    0.000000
JobCard Time                                     0    0.000000
KMs Reading                                      0    0.000000
Labour Total                                     0    0.000000
Make                                             0    0.000000
Misc Total                                       0    0.000000
Model                                         1525    0.309762
ODN No.                                     197286   40.073205
OSL Total                                        0    0.000000
Order Type                                       0    0.000000
Outstanding Amt                             197286   40.073205
Parts Total                                      0    0.000000
Pin code                                         0    0.000000
Plant                                            0    0.000000
Plant Name1                                      0    0.000000
Policy no.                                  475432   96.570888
Print Status                                     0    0.000000
Recovrbl Exp                                     0    0.000000
Regn No                                         16    0.003250
SGST/UGST(14%)                              197286   40.073205
SGST/UGST(2.5%)                             197286   40.073205
SGST/UGST(6%)                               197286   40.073205
SGST/UGST(9%)                               197286   40.073205
Service Advisor Name                        492314  100.000000
TDS amount                                  197286   40.073205
Technician Name                             236834   48.106290
Total Amt Wtd Tax.                               0    0.000000
Total CGST                                  197286   40.073205
Total GST                                   197286   40.073205
Total IGST                                  197286   40.073205
Total SGST/UGST                             197286   40.073205
Total Value                                 197286   40.073205
Unnamed: 0                                       0    0.000000
User ID                                          0    0.000000

C:\Users\ckatkaa\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """

Data Cleaning for invoice data

In [28]:
# Dropping the not usefull columns for the invoice data
Final_invoice = Final_invoice.drop(columns=['Amt Rcvd From Custom', 'Amt Rcvd From Ins Co','CGST(14%)','CGST(2.5%)','CGST(6%)','CGST(9%)','IGST(12%)','IGST(18%)','IGST(28%)','IGST(5%)','SGST/UGST(14%)',
                                     'SGST/UGST(2.5%)', 'SGST/UGST(6%)','SGST/UGST(9%)','Total CGST','Total GST','Total IGST','Total SGST/UGST','Cash /Cashless Type','Claim No.','Expiry Date','Insurance Company','Gate Pass Date',
                           'Policy no.','Service Advisor Name','Outstanding Amt','TDS amount','ODN No.'],axis = 1)

In [29]:
Final_invoice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 492314 entries, 0 to 492313
Data columns (total 31 columns):
Unnamed: 0            492314 non-null int64
Area / Locality       468424 non-null object
CITY                  492313 non-null object
Cust Type             492314 non-null object
Customer No.          492314 non-null object
District              492314 non-null object
Gate Pass Time        492314 non-null object
Invoice Date          492314 non-null object
Invoice No            492314 non-null int64
Invoice Time          492314 non-null object
Job Card No           492314 non-null int64
JobCard Date          492314 non-null object
JobCard Time          492314 non-null object
KMs Reading           492314 non-null int64
Labour Total          492314 non-null float64
Make                  492314 non-null object
Misc Total            492314 non-null float64
Model                 490789 non-null object
OSL Total             492314 non-null float64
Order Type            492314 non-null object
Parts Total           492314 non-null float64
Pin code              492314 non-null int64
Plant                 492314 non-null object
Plant Name1           492314 non-null object
Print Status          492314 non-null object
Recovrbl Exp          492314 non-null float64
Regn No               492298 non-null object
Technician Name       255480 non-null object
Total Amt Wtd Tax.    492314 non-null float64
Total Value           295028 non-null float64
User ID               492314 non-null object
dtypes: float64(7), int64(5), object(19)
memory usage: 116.4+ MB

In [30]:
total=Final_invoice.isnull().sum().sort_values(ascending=False)
percentage = (total*100/Final_invoice.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total,percentage],axis=1,keys=['total_missing_values_per_row','percentage'])
print(missing_data)

                    total_missing_values_per_row  percentage
Area / Locality                            23890    4.852594
CITY                                           1    0.000203
Cust Type                                      0    0.000000
Customer No.                                   0    0.000000
District                                       0    0.000000
Gate Pass Time                                 0    0.000000
Invoice Date                                   0    0.000000
Invoice No                                     0    0.000000
Invoice Time                                   0    0.000000
Job Card No                                    0    0.000000
JobCard Date                                   0    0.000000
JobCard Time                                   0    0.000000
KMs Reading                                    0    0.000000
Labour Total                                   0    0.000000
Make                                           0    0.000000
Misc Total                                     0    0.000000
Model                                       1525    0.309762
OSL Total                                      0    0.000000
Order Type                                     0    0.000000
Parts Total                                    0    0.000000
Pin code                                       0    0.000000
Plant                                          0    0.000000
Plant Name1                                    0    0.000000
Print Status                                   0    0.000000
Recovrbl Exp                                   0    0.000000
Regn No                                       16    0.003250
Technician Name                           236834   48.106290
Total Amt Wtd Tax.                             0    0.000000
Total Value                               197286   40.073205
Unnamed: 0                                     0    0.000000
User ID                                        0    0.000000

C:\Users\ckatkaa\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

Cleaning "Area/Locality", "City" and "District" columns using pgeocode library

In [31]:
#!pip install pgeocode
import pgeocode
nomi = pgeocode.Nominatim('IN')

In [32]:
Final_invoice['Clean_CITY']=nomi.query_postal_code(np.array(Final_invoice['Pin code'].astype(str))).county_name
Final_invoice['Clean_District']=nomi.query_postal_code(np.array(Final_invoice['Pin code'].astype(str))).state_name
Final_invoice['Clean_Location_Area']=nomi.query_postal_code(np.array(Final_invoice['Pin code'].astype(str))).place_name

In [33]:
Final_invoice['Clean_CITY'].isnull().sum()

47246

In [34]:
Final_invoice['Clean_District'].isnull().sum()

47246

In [35]:
# fill na for Model column with unknown
Final_invoice['Model'] = Final_invoice['Model'].fillna('Unknown')

In [36]:
Final_invoice['Model'].isnull().sum()

0

In [37]:
# Load the plant data set for to fill na for the invoice city data
plant_master = pd.read_excel(r'C:\Users\ckatkaa\Desktop\jupyter notebook\Capstone project  Mahindra Group\Mahindra First Choice Dataset\Plant Master.xlsx')

In [38]:
mapping_city_plant=dict(zip(plant_master['Plant'],plant_master['City']))
mapping_state_plant=dict(zip(plant_master['Plant'],plant_master['State']))
mapping_state_plant=dict(zip(plant_master['Plant'],plant_master['State']))

In [39]:
Final_invoice['Clean_CITY']=np.where(pd.isnull(Final_invoice['Clean_CITY']),Final_invoice['Plant'].map(mapping_city_plant),
                                         Final_invoice['Clean_CITY'])
Final_invoice['Clean_District']=np.where(pd.isnull(Final_invoice['Clean_District']),
                                          Final_invoice['Plant'].map(mapping_state_plant),Final_invoice['Clean_District'])
Final_invoice['Clean_Location_Area']=np.where(pd.isnull(Final_invoice['Clean_Location_Area']),Final_invoice['Plant'].map(mapping_city_plant),
                                         Final_invoice['Clean_CITY'])

In [40]:
Final_invoice['Clean_District'].isnull().sum()

26335

In [41]:
Final_invoice['Clean_CITY']=np.where(pd.isnull(Final_invoice['Clean_CITY']),Final_invoice['CITY'],
                                         Final_invoice['Clean_CITY'])
Final_invoice['Clean_District']=np.where(pd.isnull(Final_invoice['Clean_District']),
                                          Final_invoice['CITY'],Final_invoice['Clean_District'])

In [42]:
Final_invoice['Clean_District'].isnull().sum()

0

In [46]:
# Droping the uneccessory columns
Final_invoice = Final_invoice.drop(columns=['Area / Locality','CITY','District','Regn No','Technician Name','Total Value','Clean_Location_Area'],axis = 1)

In [47]:
total=Final_invoice.isnull().sum().sort_values(ascending=False)
percentage = (total*100/Final_invoice.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total,percentage],axis=1,keys=['total_missing_values_per_row','percentage'])
print(missing_data)

                    total_missing_values_per_row  percentage
Clean_CITY                                     0         0.0
Clean_District                                 0         0.0
Cust Type                                      0         0.0
Customer No.                                   0         0.0
Gate Pass Time                                 0         0.0
Invoice Date                                   0         0.0
Invoice No                                     0         0.0
Invoice Time                                   0         0.0
Job Card No                                    0         0.0
JobCard Date                                   0         0.0
JobCard Time                                   0         0.0
KMs Reading                                    0         0.0
Labour Total                                   0         0.0
Make                                           0         0.0
Misc Total                                     0         0.0
Model                                          0         0.0
OSL Total                                      0         0.0
Order Type                                     0         0.0
Parts Total                                    0         0.0
Pin code                                       0         0.0
Plant                                          0         0.0
Plant Name1                                    0         0.0
Print Status                                   0         0.0
Recovrbl Exp                                   0         0.0
Total Amt Wtd Tax.                             0         0.0
Unnamed: 0                                     0         0.0
User ID                                        0         0.0

C:\Users\ckatkaa\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

In [50]:
# storing the clean data set
Final_invoice.to_csv(r'C:\Users\ckatkaa\Desktop\jupyter notebook\Capstone project  Mahindra Group\Mahindra First Choice Dataset\Clean Data set\Clean_Final_invoice.csv')