In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows',50)
import warnings
warnings.simplefilter('ignore')

In [2]:
JTD = pd.read_csv(r'C:\Users\ckatkaa\Desktop\jupyter notebook\Capstone project  Mahindra Group\Mahindra First Choice Dataset\JTD.csv')

In [3]:
JTD.shape

(5619484, 10)

In [4]:
# finding the null values and its percentage and then concat both

total=JTD.isnull().sum().sort_values(ascending=False)
percentage = (total*100/JTD.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total,percentage],axis=1,keys=['total_missing_values_per_row','percentage'])
print(missing_data)

                     total_missing_values_per_row  percentage
DBM Order                                       0    0.000000
Description                                 51629    0.918750
Item Category                                   0    0.000000
Labor Value Number                        3774033   67.159778
Material                                    51629    0.918750
Net value                                       0    0.000000
Order Item                                      0    0.000000
Order Quantity                                  0    0.000000
Target quantity UoM                         51629    0.918750
Unnamed: 0                                      0    0.000000

In [5]:
# Droping the unnecessary column
JTD.drop(['Unnamed: 0','Labor Value Number'],axis=1,inplace=True)

grouping the jtd data on dbm order to reduce duplicate order entries

In [6]:
JTD=JTD.groupby(["DBM Order","Item Category"],as_index=False).agg({"Net value":'sum',"Order Quantity":"sum"})

In [7]:
JTD.head()

   DBM Order Item Category  Net value  Order Quantity
0          4          P001    3455.92           714.0
1          4          P002   11042.62            15.6
2          4          P010    2399.95             1.0
3          4          P011     100.00             1.0
4          5          P001    2310.47           283.0

In [8]:
JTD.shape

(1735310, 4)