In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
Customer_Data = pd.read_excel(r'C:\Users\ckatkaa\Desktop\jupyter notebook\Capstone project  Mahindra Group\Mahindra First Choice Dataset\Customer_Data.xlsx')

In [3]:
Customer_Data.shape

(555338, 9)

In [4]:
Customer_Data.head()

,Business Partner,Customer No.,Partner Type,Data Origin,Title,Marital Status,Occupation,Date of Birth,Death date
0,31,1,1.0,Z001,NaN,NaN,NaN,NaN,NaT
1,32,2,1.0,Z005,NaN,NaN,NaN,NaN,NaT
2,34,4,1.0,Z005,NaN,2.0,NaN,NaN,NaT
3,35,5,1.0,Z005,NaN,NaN,NaN,NaN,NaT
4,42,7,1.0,Z008,NaN,NaN,NaN,NaN,NaT

In [5]:
# finding the null values and its percentage and then concat both

total=Customer_Data.isnull().sum().sort_values(ascending=False)
percentage = (total*100/Customer_Data.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total,percentage],axis=1,keys=['total_missing_values_per_row','percentage'])
print(missing_data)

                  total_missing_values_per_row  percentage
Death date                              554675   99.880613
Date of Birth                           541894   97.579132
Occupation                              540780   97.378533
Marital Status                          539301   97.112209
Title                                    46307    8.338525
Data Origin                                136    0.024490
Partner Type                                78    0.014046
Customer No.                                 0    0.000000
Business Partner                             0    0.000000

Cleaning the Data

In [6]:
Customer_Data =  Customer_Data.drop(columns = ['Death date','Date of Birth','Occupation','Marital Status','Title'],axis=1)

In [7]:
Customer_Data['Partner Type'] = Customer_Data['Partner Type'].fillna(Customer_Data['Partner Type'].mode()[0])
Customer_Data['Data Origin'] = Customer_Data['Data Origin'].fillna(Customer_Data['Data Origin'].mode()[0])

In [8]:
total=Customer_Data.isnull().sum().sort_values(ascending=False)
percentage = (total*100/Customer_Data.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total,percentage],axis=1,keys=['total_missing_values_per_row','percentage'])
print(missing_data)

                  total_missing_values_per_row  percentage
Business Partner                             0         0.0
Customer No.                                 0         0.0
Data Origin                                  0         0.0
Partner Type                                 0         0.0

C:\Users\ckatkaa\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

In [9]:
# Saving the clean data
Customer_Data.to_csv(r'C:\Users\ckatkaa\Desktop\jupyter notebook\Capstone project  Mahindra Group\Clean Data\Clean Data set\Customer_Data.csv')

In [10]:
Customer_Data.shape

(555338, 4)